<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.project.dao.UsersDao">
	<select id="getEmailCount" parameterType="string">
		SELECT COUNT(1)
		FROM USERS
		WHERE EMAIL = #{_parameter}
	</select>
	<insert id="createNewUser"
		parameterType="com.ktdsuniversity.edu.project.vo.UsersVO">
		INSERT INTO USERS
		( MEM_ID
		, EMAIL
		, LOGIN_PW
		, NICNM
		, INFO_GET_YN
		, PROF_PIC
		, JOIN_DATE
		, MEM_TYPE
		, LEAVE_YN)
		VALUES
		(#{memId}
		, #{email}
		, #{loginPw}
		, #{nicnm}
		, 'Y'
		, 'img'
		, SYSDATE
		, 'G_M'
		, 'N')
	</insert>
</mapper>